<%- include('header') -%>

<% if(message.length > 0){ %>
    <div class="alter alert-danger text-center">
        <%= message %>
    </div> 
<% } %>

<div class="text-center center-div mt-5" id="login">
    <div class="container w-50 border py-5 mt-5">
        <h3>Welcome to Shopping App</h3>
        <h5><%= locals.user ? user : "User" %></h5>
        <a href="/auth/logout" class="btn btn-success btn-sm">Logout</a>
        <a href="/product/find" class="btn btn-success btn-sm">Products Page</a>
        <a href="/product/create" class="btn btn-success btn-sm">Add a New Product</a>
        <a href="/product/update" class="btn btn-success btn-sm">Edit a Product</a>
    </div> 
</div>

</body>
</html>